<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Applied <b>Jobs</b></h2></div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Company Name <i class="fa fa-sort"></i></th>
                        <th>Job Role</th>
                        <th>Job Type <i class="fa fa-sort"></i></th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Job Application Status <i class="fa fa-sort"></i></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of results; let currentElementIndex=index">
                        <td>{{currentElementIndex+1}}</td>
                        <td> {{item.domain}}</td>
                        <td> {{item.title}}</td>
                        <td> {{item.salary}}</td>
                        <td> {{item.startDate}}</td>
                        <td> {{item.endDate}}</td>
                        <td> {{item.experienceNeeded}}</td>
                        <td>
                            <button (click)="deleteBtn()" class="delete" title="delete" data-toggle="tooltip"> <span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
</div>   