<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Applied <b>Jobs</b></h2></div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Company Name <i class="fa fa-sort"></i></th>
                        <th>Job Role</th>
                        <th>Job Type <i class="fa fa-sort"></i></th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Job Application Status <i class="fa fa-sort"></i></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Thomas Hardy</td>
                        <td>SDE.</td>
                        <td>Development</td>
                        <td>9/7/2019</td>
                        <td>9/7/2019</td>
                        <td>pending</td>
                        <td>
                            <a href="#" class="delete" title="delete" data-toggle="tooltip"> <span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Maria Anders</td>
                        <td>Dentist</td>
                        <td>Medical</td>
                        <td>9/7/2019</td>
                        <td>9/7/2019</td>
                        <td>applied</td>
                        <td>
                            <a href="#" class="delete" title="delete" data-toggle="tooltip"> <span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Fran Wilson</td>
                        <td>Teacher</td>
                        <td>Teaching</td>                        
                        <td>9/7/2019</td>
                        <td>9/7/2019</td>
                        <td>done</td>
                        <td>
                            <a href="#" class="delete" title="delete" data-toggle="tooltip"> <span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
</div>   