    <div class="container-fluid">

      <nav class="navbar">
          <div class="container-fluid">
              <div class="navbar-header">
                  <!-- need to change below a tag with img for logo. -->
                  <a class="a"  href="#">
                      Job It Up
                  </a>
              </div>
          <div class="">
              <ul class="nav navbar-nav navbar-right bg-dark">
                  <li class="active"><a href="#">
                          HOME
                      </a></li>
                  <li><a href="#" class="text-white">APPLIED JOBS</a></li>
                  <li><a href="#" class="text-white">PROFILE</a></li>
                  <li><a href="#" class="text-white">ACCOUNT DATA</a></li>
                  <li><a href="#" class="text-white">LOG OUT</a></li>
              </ul>
          </div>
          </div>
      </nav>
<router-outlet></router-outlet>

    </div>