<div class="container">
    <h1 class="text-center"> JOB IT UP</h1>
    <div class="row">
        <div class="col-md-6" >
            <img src="https://img.freepik.com/free-vector/indoor-security-system-abstract-concept-vector-illustration-smart-house-installation-mobile-application-control-center-smartphone-operated-home-security-system-door-lock-abstract-metaphor_335657-6116.jpg" width="100%" height="100%">
                
        </div>
        <div class="col-md-6 text-center" style="top:180px;">
            
                <button id="foot"><button class="button-os"><a href="/auth/google">Login with Google</a></button></button>
            </div>
    </div>
</div>