.bio {
    overflow-y: scroll;
    height: 100px;
    background-color:lightgrey;
    margin-left: 15px;

}

.skill {
    background-color: lightgrey;
    margin: 1rem 0;
}

hr {
    border-bottom: 1px solid var(--color-border-faint);
  }