<div class="container">
    <div class='col-md-12'>
        <h1 class="text-center">Profile</h1>
    </div>

            <div class='col-md-12'>
                <h2><strong>{{fname}} {{lname}}</strong></h2>
            </div>

            <div class='col-md-10'>
                <h3 class="section-header"><strong>About</strong></h3>
            </div>

            <div id="editJob" class="col-md-2">
                <a class="btn btn-lg btn-primary" *ngIf="isJobSeeker == 'Y'" routerLink={{jobSeekerEditLink((jobSeekerId))}}>Edit Profile</a>
                <!-- <a class="btn btn-lg btn-primary" *ngIf="isJobSeeker == 'Y'" routerLink={{link((selectedJob.jobId))}}>Edit Job</a> -->
                </div>

            <div class='col-md-12'>
                <div class="row">
                <div class='col-md-12'>
                    <h4><strong>Bio</strong></h4>
                </div>

                <div class='col-md-12 bio'>
                    <h4>{{bio}}</h4>
                </div>
                </div>

                <div class='col-md-12'>
                    <hr class="bg-danger border-2 border-top border-danger">
                </div>
            </div>

                <div class='col-md-12'>
                    <div class="row">
                    <div class='col-md-1'>
                        <h4><strong>Resume</strong></h4>
                    </div>

                    <div class='col-md-2'>
                        <a href={{resume}} download rel="noopener noreferrer" target="_blank">
                            <h4>{{fname+" "+lname}}</h4>
                        </a>
                        
                    </div>

                    <div class='col-md-1'>
                        <h4><strong>Contact</strong></h4>
                    </div>

                    <div class='col-md-2'>
                        <h4>{{contactNo}}</h4>
                    </div>

                    <div class='col-md-1'>
                        <h4><strong>Email</strong></h4>
                    </div>

                    <div class='col-md-5'>
                        <h4>{{email}}</h4>
                    </div>

                    <div class='col-md-1'>
                        <h4><strong>Location</strong></h4>
                    </div>

                    <div class='col-md-2'>
                        <h4>{{location}}</h4>
                    </div>
                    </div>
                </div>
            <div class='col-md-12'>
                <hr class="bg-danger border-2 border-top border-danger">
            </div>

            <div class='col-md-12'>
                <h3 class="section-header"><strong>Skills</strong></h3>
            </div>

            <div class='col-md-12'>
                <div class="row">
                <div class='col-md-12'>
                    <h4><strong>Primary Skills</strong></h4>
                </div>

                <div class='col-md-12'>
                    <div *ngFor="let skill of primarySkills; let i = index ">
                        <div class='col-md-2 skill' >
                            <h4>{{skill}}</h4>
                        </div>
                        <div class='col-md-1' >
                            <h4></h4>
                        </div>
                    </div>
                </div>

                <div class='col-md-12'>
                    <hr class="bg-danger border-2 border-top border-danger">
                </div>
                
                <div class='col-md-12'>
                    <h4><strong>Other Skills</strong></h4>
                </div>

                <div class='col-md-12'>
                    <div *ngFor="let skill of otherSkills; let i = index ">
                        <div class='col-md-2 skill' >
                            <h4>{{skill}}</h4>
                        </div>
                        <div class='col-md-1' >
                            <h4></h4>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class='col-md-12'>
                <hr class="bg-danger border-2 border-top border-danger">
            </div>

            <div class='col-md-12'>
                <h3 class="section-header"><strong>Work Experience</strong></h3>
            </div>

            <div class='col-md-12'>
                <div class="row">
                <div *ngFor="let work of workExperiences; let i = index ">
                    
                    <div class='col-md-2' >
                        <h4><strong>Company Name</strong></h4>
                    </div>
                    
                    <div class='col-md-10' >
                        <h4>{{work.companyName}}</h4>
                    </div>
                    
                    <div class='col-md-2' >
                        <h4><strong>Role</strong></h4>
                    </div>
                    
                    <div class='col-md-10' >
                        <h4>{{work.role}}</h4>
                    </div>
                    
                    <div class='col-md-2' >
                        <h4><strong>Duration</strong></h4>
                    </div>
                    
                    <div class='col-md-10' >
                        <h4>{{work.fromDate+" - "+work.toDate}}</h4>
                    </div>

                    <div class='col-md-12' >
                        <h4></h4>
                    </div>

                    <div class='col-md-12'>
                        <hr class="bg-danger border-2 border-top border-danger">
                    </div>
                </div>
                </div>
            </div>


            <div class='col-md-12'>
                <h3 class="section-header"><strong>Education</strong></h3>
            </div>

            <div class='col-md-12'>
                <div class="row">
                <div *ngFor="let education of educations; let i = index ">
                    
                    <div class='col-md-2' >
                        <h4><strong>University Name</strong></h4>
                    </div>
                    
                    <div class='col-md-10' >
                        <h4>{{education.universityName}}</h4>
                    </div>

                    <div class='col-md-2' >
                        <h4><strong>Degree</strong></h4>
                    </div>
                    
                    <div class='col-md-10' >
                        <h4>{{education.degree}}</h4>
                    </div>
                    
                    <div class='col-md-2' >
                        <h4><strong>Duration</strong></h4>
                    </div>
                    
                    <div class='col-md-10' >
                        <h4>{{education.fromDate+" - "+education.toDate}}</h4>
                    </div>

                    <div class='col-md-12' >
                        <h4></h4>
                    </div>

                    <div class='col-md-12'>
                        <hr class="bg-danger border-2 border-top border-danger">
                    </div>
                </div>
                </div>
            </div>
        </div>