.overview {
    height: 100px;
    margin-left: 15px;
    border:1px; 
    border-radius: 15px;
    border-style:solid; 
    border-color:black;
}
.belowfields{
    height: 50px;
    margin-left: 15px;
    border:1px; 
    border-radius: 15px;
    border-style:solid; 
    border-color:black;
}
.style
{
    color:#337ab7;
}

.skill {
    background-color: lightgrey;
    margin: 1rem 0;
}

hr {
    border-bottom: 1px solid var(--color-border-faint);
  }

h3.section-header strong {
    border-bottom: 1px solid black;
    padding-bottom: 5px;

  }