<div class="container">
    <div class='col-md-12'>
        <h1 class="text-center">Profile</h1>
    </div>

    <div class='col-md-10'>
    </div>

    <div id="editProfile" class="col-md-2">
        <a class="btn btn-lg btn-primary" *ngIf="isJobPoster == 'Y'" routerLink={{jobPosterEditLink((jobPosterId))}}>Edit Profile</a>
        <!-- <a class="btn btn-lg btn-primary" *ngIf="isJobSeeker == 'Y'" routerLink={{link((selectedJob.jobId))}}>Edit Job</a> -->
    </div>
            <div class='col-md-12'>
                <h2><strong>{{companyName}}</strong></h2>
            </div>


            <div class='col-md-12'>
                <div class="row">
                <div class='col-md-12'>
                    <h4 style="color: #337ab7"><strong>Company Overview</strong></h4>
                </div>

                <div class='col-md-12 overview'>
                    <h4>{{Overview}}</h4>
                </div>
                </div>

            </div>


            <div class='col-md-10'>
                <div class="row">
                <div class='col-md-3'>
                    <h4 style="color: #337ab7"><strong>Company Website:</strong></h4>
                </div>

                <div class='col-md-3'>
                    <h4>{{website}}</h4> 
                </div>
                </div>
            </div>

            <div class='col-md-10'>
                <div class="row">
                <div class='col-md-3'>
                    <h4 style="color: #337ab7"><strong>Contact No:</strong></h4>
                </div>

                <div class='col-md-3'>
                    <h4>{{contactNo}}</h4> 
                </div>
                </div>
            </div>

            <div class='col-md-10'>
                <div class="row">
                <div class='col-md-3'>
                    <h4 style="color: #337ab7"><strong>Industry:</strong></h4>
                </div>

                <div class='col-md-3'>
                    <h4>{{industry}}</h4> 
                </div>
                </div>
            </div>

            <div class='col-md-10'>
                <div class="row">
                <div class='col-md-3'>
                    <h4 style="color: #337ab7"><strong>Company Size:</strong></h4>
                </div>

                <div class='col-md-3'>
                    <h4>{{companySize}}</h4> 
                </div>
                </div>
            </div>

            <div class='col-md-10'>
                <div class="row">
                <div class='col-md-3'>
                    <h4 style="color: #337ab7"><strong>HeadQuarters:</strong></h4>
                </div>

                <div class='col-md-3'>
                    <h4>{{headquarters}}</h4> 
                </div>
                </div>
            </div>

            <div class='col-md-10'>
                <div class="row">
                <div class='col-md-3'>
                    <h4 style="color: #337ab7"><strong>Founded In:</strong></h4>
                </div>

                <div class='col-md-3'>
                    <h4>{{founded}}</h4> 
                </div>
                </div>
            </div>

            <div class='col-md-10'>
                <div class="row">
                <div class='col-md-3'>
                    <h4 style="color: #337ab7"><strong>Company Location:</strong></h4>
                </div>

                <div class='col-md-3'>
                    <h4>{{location}}</h4> 
                </div>
                </div>
            </div>

</div>
                